
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>


  <h1>Edit Contact Data</h1>
  <% if (user) { %>
   
  
  <form action="/contacts/<%= contact._id %>?_method=PUT  " method="POST" autocomplete="off" >
    <div class="mb-3">
      <label class="form-label">Name:
        <input type="text" name="name" class="form-control" value="<%= contact.name  %> ">
      </label>
  </div>
  <br>
  <div class="mb-3">
    <label class="form-label">Email Address:
      <input type="text" name="email" class="form-control" value="<%= contact.email %>">
    </label>
  </div>
  <br>
  <divclass="mb-3">
    <label class="form-label">Phone Number:
      <input type="text" name="phoneNum" class="form-control" value="<%= contact.phoneNum  %>">
    </label>
  </div>
  <br>

  <divclass="mb-3">
    <label class="form-label">Instrument:
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="instrument">
        <option selected>Instrument</option>
        <% instruments.forEach(instrument => { %>
          <option value="<%= instrument.name %>"> <%= instrument.name %>  </option>
        <% }) %>
     
      </select>
    </label>
  </div>
  <br>   
  
  </div>
  <br>
  <divclass="mb-3">
    <label class="form-label">Location:
      <input type="text" name="location" class="form-control"value="<%= contact.location  %>">
    </label>
  </div>
  <br>   
  <divclass="mb-3">
    <label class="form-check-label">Willing to Travel:
      <input type="checkbox" name="willingToTravel" class="form-check-input" <%= contact.willingToTravel ? "checked" : "" %> >
    </label>
  </div>
  <br>
  <divclass="mb-3">
    <label class="form-check-label">Teaches:
      <input type="checkbox" name="teaches" class="form-check-input" <%= contact.teaches ? "checked" : "" %>>
    </label>
  </div>
  <br> 

    
    <button type="submit">Edit Contact</button>
  </form>

  <% } %>

<%- include('../partials/footer') %>
