<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <form action="/contacts/<%= contact.id %>/notes/<%= note._id %>?_method=PUT" method="POST">
      <input type="text" value="<%= note.content %>" name="content">
      <button class="btn btn-primary">Update<i class="fa-solid fa-pen-to-square"></i></button>
    </form>
  </div>
</main>



<%- include('../partials/footer') %>