<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>
  <h1>My Contacts</h1>
  <a href="/contacts/new"><button>Add New Contact</button></a>
  
<% contacts.forEach(contact => { %>
  <div class="card">
    <h5 class="card-header"><%= contact.name %></h5>
    <div class="card-body">
      <h5 class="card-title">Instrument Placeholder</h5>
      <p class="card-text">
        
      </p>
      <a href="/contacts/<%= contact._id %>" class="btn btn-primary">Details</a>
    </div>
  </div>



<% }) %>
</main>
<%- include('../partials/footer') %>
