<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/contacts/index.css">
<%- include('../partials/nav') %>

<main>
  <h1>My Contacts</h1>

  <a href="/contacts/new"><button class="btn btn-primary">Add New Contact  <i class="fa-solid fa-square-plus"></i></button></a>
  
<% contacts.forEach(contact => { %>
  <div class="card">
    <h2 class="card-header"><%= contact.name %></h2>
    <div class="card-body">
      <h2 class="card-title"><%= contact.instrument %> </h2>
      <p class="card-text">
        
      </p>
      <a href="/contacts/<%= contact._id %>" class="btn btn-primary">Details <i class="fa-solid fa-circle-info"></i></a>
    </div>
  </div>
<% }) %>

</main>
<%- include('../partials/footer') %>
