<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<a href="/contacts/new">Add New Contact</a>
<main>
<h1>My Contacts</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Instrument</th>
        <th>Location</th>
        <th>Willing to Travel?</th>
        <th>Teaches?</th>
        
      </tr>
    </thead>
    <tbody>
<% contacts.forEach(contact => { %>
  <div class="card">
    <h5 class="card-header"><%= contact.name %></h5>
    <div class="card-body">
      <h5 class="card-title">Instrument Placeholder</h5>
      <p class="card-text">
        
      </p>
      <a href="/contacts/<%= contact._id %>" class="btn btn-primary">Details</a>
    </div>
  </div>



<% }) %>
</main>
<%- include('../partials/footer') %>
