<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<!-- <form
  action="/contacts"
  method="GET"
  class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
          >
<input
    id="search"
    class="form-control form-control-dark"
    type="search"
    name="name"
    placeholder="Search name..."
    value=" <%= contacts.name %> "
    autocomplete="off"
  /> -->
<main>
  <h1>My Contacts</h1>
  <a href="/contacts/new"><button class="btn btn-primary">Add New Contact</button></a>
  
<% contacts.forEach(contact => { %>
  <div class="card">
    <h2 class="card-header"><%= contact.name %></h2>
    <div class="card-body">
      <h2 class="card-title"><%= contact.instrument %> </h2>
      <p class="card-text">
        
      </p>
      <a href="/contacts/<%= contact._id %>" class="btn btn-primary">Details</a>
    </div>
  </div>
<% }) %>
</main>
<%- include('../partials/footer') %>
