<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main>
    



    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <h1 class="card-title"><%= contact.name %></h5>
        <h2 class="card-subtitle mb-2 text-muted"> <%= contact.instrument %>  </h6>
        <p class="card-text">
          Email Address: <%= contact.email %> <br>
          Phone Number: <%= contact.phoneNum %> <br>
          Location: <%= contact.location %> <br>
          Will Travel? <%= contact.willingToTravel ? "Yes" : "No" %> <br>
          WIll Teach? <%= contact.teaches ? "Yes" : "No" %> <br>
        </p>
        <div id="button-div">
          <form action="/contacts/<%= contact._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">DELETE</button>
          </form>
          <form action="/contacts/<%= contact._id %>/edit" method="GET">
            <button class="btn btn-outline-primary">EDIT</button>
          </form>
      </div>
      </div>
    </div>

  <div id="notes-div">
    <h2>Notes:</h2>
    <form id="add-note-form" action="/contacts/<%= contact._id %>/notes" method="POST">
      <label>
        <input type="text" name="content">
      </label>
      <button type="submit">Add Note</button>
    </form>  
      <% if (contact.notes.length) { %>
        <% contact.notes.forEach(function(note){ %>
          <p>
              <%= note.content %>
              <form action="/contacts/<%= contact._id %>/notes/<%= note.id %>?_method=DELETE" method="POST" style="display: inline-block;">
              
              <button type="submit">X</button>
              
              </form>
          </p>
          <% }) %>
      <% } else { %><h3>No Notes Yet</h3><% } %>
              
              
  </div>
  </main>

  <%- include('../partials/footer') %>